/*basic*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'delicious','Microsoft YaHei';  
  line-height: 1.42857; 
  color: #414243;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;
}

a {
  color: #959595;
  text-decoration: none; }
  a:hover {
    color: #f39c12; }

::selection {
  background: #e74c3c;
  color: white; }

::-moz-selection {
  background: #e74c3c;
  color: white; }

/*do not reset default head*/
@font-face {
  font-family: OpenSans;
  src: url("/public/Fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: delicious;
  src: url(""); }

/*tools*/
.center-block {
  margin-left: auto;
  margin-right: auto; }

.center-text {
  text-align: center; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  height: 1%; }

.toHidden {
  display: none; }

/*index-page*/
.idx-main-header {
  position: fixed;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  height: 50px;
  top: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 5px #ddd;
  z-index: 100;
  background-color: #ffffff; }
  .idx-main-header ul {
    padding: 0;
    margin: 0;
    width: 40%;
    list-style: none; }
    .idx-main-header ul li {
      width: 25%;
      padding-top: 15px;
      padding-bottom: 15px;
      float: left; }

@media (min-width: 482px){
  .idx-main-header ul{
    width: 80%;
  }
}

@media (min-width: 992px){
  .idx-main-header ul{
    width: 40%;
  }
}



.idx-main-article {
  margin-top: 180px;
  font-size: 1.2em;
  color: #252525; }

.idx-main-footer {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 100%;
  margin-top: -60px;
  background-image: url("../IMG/subtle-pattern-9.jpg");
  box-shadow: 0 0 5px #ddd; }

/*posts*/
.post {
  box-shadow: 0 0 6px #ddd;
  width: 60%;
  margin-top: 80px;
  border-top: 5px solid #f39c12;
  padding: 20px 5%;
  margin-bottom: 100px;
  line-height: 1.71429; }
  .post ul {
    padding: 0;
    margin: 0;
    list-style: none; }

.big-title {
  margin: 0;
  
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-transition: all .05s ease-in-out;
  -moz-transition: all .05s ease-in-out;
  -o-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  }

.small-span {
  font-size: 0.6em; }
