<html>
<head>
    <meta content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/public/CSS/style.css" />
    <link rel="stylesheet" href="/public/CSS/syntax.css">
    <title>Front-end Beginner. -Johnbug Pages</title>
</head>
<body>
<header class="idx-main-header center-text">
    <ul class="clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="/Blog.html">Blog</a></li>
        <li><a href="https://github.com/Johnbug">Github</a></li>
        <li><a href="Blog"></a></li>
    </ul>
</header>
{{content}}
<footer class="idx-main-footer center-text">
    <a href="http://johnbug.cc">johnbug.cc</a>
</footer>
</body>
</html>