<html>
<head>
    <meta content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="/public/CSS/style.css" />
    <link rel="stylesheet" href="/public/CSS/syntax.css">
    <title>{{ page.title }}</title>
</head>
<body>
<header class="idx-main-header center-text">
    <ul class="clearfix">
        <li><a href="/">Home</a></li>
        <li><a href="/Blog.html">Blog</a></li>
        <li><a href="https://github.com/Johnbug">Github</a></li>
        <li><a href="Blog"></a></li>
    </ul>
</header>
<div class="post center-block">
    <h1 class="big-title">{{ page.title }}</h1>
    <h3>{{ page.date | date_to_string }}</h3>
    {{ content }}
</div>
<footer class="">

</footer>
</body>
</html>

